body {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-family: Arial;
  background: #f0f2f5;
}

.calc {
  width: 260px;
  padding: 15px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #aaa;
}

#display {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  border: none;
  padding: 10px;
  border-radius: 8px;
  box-shadow: inset 0 0 5px #ccc;
}

.buttons button {
  width: 60px;
  height: 40px;
  font-size: 18px;
  margin: 3px;
  cursor: pointer;
  border-radius: 8px;
}

.clear {
  width: 100%;
  background: red;
  color: white;
}
