body {
  font-family: Arial;
  text-align: center;
}

.gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
}

.gallery img:hover {
  transform: scale(1.1);
}

.lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}

.lightbox img {
  width: 60%;
  border-radius: 10px;
}

